<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Login Form</h1>
        <form th:action="@{/login/doLogin}" th:object="${loginModel}" method="post">
            <table>
                <tr>
                    <td>User Name:</td>
                    <td>
                        <input type="text" th:field="*{username}" />
                        <h5 style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">User Name Error</h5>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input type="password" th:field="*{password}" />
                        <h5 style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="submit" value="Submit" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
